@charset "utf-8";

/*
Base style
*/
body {
    font-family: 'Noto Sans JP',"Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size:15px;
    line-height: 1.5;
    color: #333;
}

/*
section
*/
.section-headline {
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  /*margin: 0 0 40px;*/
}
.section-subtitle {
  margin: 0 0 20px;
  font-size: 30px;
}
.section-indent {
  margin: 0 0 20px;
  padding: 0px 20px;
  font-size: 20px;
}

/*
grid
*/
.grid {
  display: flex;
  flex-wrap: nowrap;
  gap: 13px;
}
.grid.grid-col-4x4 {
  background: hsl(0, 0%, 2%);
  border: 20px solid #000;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 70px);
  gap: 13px;
}
.grid.grid-col-4x4 > div {
  background: #d56bea;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
}

.grid.grid-col-2x2 {
  background: hsl(0, 0%, 2%);
  border: 20px solid #000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 70px);
  gap: 13px;
}

.grid.grid-col-2x2 > div {
  background: #6bbeea;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
}

.grid.grid-col-6x1 {
  background: hsl(0, 0%, 2%);
  border: 20px solid #000;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 70px);
  gap: 13px;
}

.grid.grid-col-6x1 > div {
    background: #6beaa4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
}